@import url('https://fonts.googleapis.com/css?family=Oxygen');

html, body{
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
	height: 100%;
	
}

label{
	font-weight: bold;
}
.main-container{
	border-radius: 5px
	border: 1px solid black;
	margin: auto;
	margin-top: 5%;
	background-color: rgba(120,90,200,0.1);
	padding: 20px;
	border-radius: 7px;
}

.logo{
	width: 60px;
	border-radius: 50%;
	position: relative;
	margin-right: 10px;
}

.my-button{
	background-color: rgb(106,90,205);
	color:rgb(255,255,255);

}

.dropdown-toggle{
	margin-bottom: 10px;
}

.top-title{
	font-weight: bold;

}

.textarea{
	margin-bottom: 20px;
	border-radius: 7px;
	width: 100%;
	box-sizing: border-box;

}

